@import url("https://use.typekit.net/nan5smx.css");
body {
  margin: 0;
  font-family: acumin-pro, sans-serif;
  background-color: #F5F5F5;
}
body * {
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
}
.pageContainer {
  width: 90%;
  margin: auto;
  max-width: 1080px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
}
.appHeader {
  padding: 35px 50px 40px 50px;
  background-image: url('images/headerbg.jpg');
  background-position: center;
}
h1 {
  margin: 0px;
  font-weight: 500;
  color: #fff;
}
h2 {
  font-weight: 200;
  font-size: 18px;
  color: #00C678;
  margin: 0px;
}
.container {
  max-width: 900px;
  width: calc(100% - 80px);
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}
.titleBar {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.titleBar h3 {
  float: left;
  font-weight: 400;
  font-size: 20px;
  color: #00C678;
  margin: 0px;
  flex: none;
}
h4 {
  font-weight: 400;
  font-size: 18px;
  color: #00C678;
  margin: 0;
  margin-bottom: 10px;
}
.titleBar hr {
  float: right;
  width: 100%;
  border: none;
  height: 2px;
  margin-left: 10px;
  margin-top: 16px;
  color: #00C678;
  background-color: #00C678;
}
.situationBox {
  margin-bottom: 15px;
  background-color: #FBFBFB;
  border-radius: 8px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.14);
  padding: 10px 20px;
}
.situationBox h4 {
  font-weight: 400;
  font-size: 16px;
  color: #070A1B;
  margin: 0px;
}
.fiveGrid {
  vertical-align: middle;
  width: 20%;
  display: inline-block;
}

.counter h5 {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
.counter p {
  text-align: center;
  margin: 0;
  font-size: 13px;
}
.trendbox {
  text-align: center;
  width: 70%;
  border-radius: 3px;
  margin: auto;
}
.trendbox p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin: 6px 0px;
}

.negativeColors .trend_si, .positiveColors .trend_sd {
  background-color: #FB5050;
  border: 2px solid #FB5050;
  color: #fff !important;
}
.negativeColors .trend_i , .positiveColors .trend_d{
  background-color: #f4b20d;
  border: 2px solid #f4b20d;
  color: #000 !important;
}
.negativeColors .trend_n, .positiveColors .trend_n {
  background-color: #D4D4D4;
  border: 2px solid #D4D4D4;
  color: #000 !important;
}
.negativeColors .trend_d, .positiveColors .trend_i {
  background-color: #6ed239;
  border: 2px solid #6ed239;
  color: #163d10 !important;
}
.negativeColors .trend_sd, .positiveColors .trend_si {
  background-color: #55a42b;
  border: 2px solid #55a42b;
  color: #fff !important;
}

.compairedCountries span {
  display: inline-block;
  width: 100%;
  text-align: right;
  }
.compairedCountries span p {
  display: inline-block;
  margin: 0px;
  font-size: 13px;
  text-align: right;
  font-weight: 600;
  }
.compairedCountries .lightpar {
  font-weight: 400;
  text-align: left !important;
  min-width: 37px;
  margin-left: 10px;
}
.negativeColors .compairedCountries .trendArrowUp, .positiveColors .compairedCountries .trendArrowDown {
  filter: invert(57%) sepia(86%) saturate(2248%) hue-rotate(323deg) brightness(101%) contrast(81%); 
}
.negativeColors .compairedCountries .trendArrowDown, .positiveColors .compairedCountries .trendArrowUp {
  filter: invert(73%) sepia(60%) saturate(5640%) hue-rotate(118deg) brightness(95%) contrast(104%);
}
.trendArrow {
  display: inline-block;
}

.modebar{
  display: none !important;
}

.cs_graph {
  height: 100px;
}
.cs_graph .point {
  opacity: 0 !important;
}
.cs_graph .main-svg {
  background: transparent !important;
}

.cs_graph .cs_graph_hover {
  padding: 3px;
}
.situationBox .js-line {
  stroke: #006EFE !important;
}
.mb {
  padding-bottom: 40px;
  margin-bottom: 40px;
}
#cs_per_age_graph {
  padding-bottom: 60px;
  margin-top: 0;
  margin-bottom: -40px;
}
#cs_per_age_graph .main-svg {
  background-color: transparent !important;
}
.legendstyle .legendlines path.js-line {
  stroke-width: 6px !important;
}
/*   */
.legendstyle g.legend rect.bg {
  stroke-width: 4px;
  fill: #fff;
  -webkit-filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .3));
  filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .3));
  outline: solid 4px white;
  border-radius: 10px;
}

.ms_bar_part {
  display: inline-block;
  vertical-align: top;
}
.ms_bar_cur_arrow_container {
  width: 40px;
  height: 20px;
  text-align: center;
}
.ms_bar_pred_arrow_container {
  width: 40px;
  height: 20px;
  text-align: center;
}
.ms_bar_part_bar {
  width: 40px;
  height: 20px;
}

.ms_bar_cur_arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 10px;
}

.ms_bar_pred_arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 10px;
}

.ov_cases_splitted_graph_outer {
  background-color: rgb(251, 251, 251);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 7px 0px;
  border-radius: 8px;
  padding: 10px 20px;
  width: calc(50% - 50px);
  display: inline-block;
}
.ov_cases_splitted_graph_outer:first-of-type {
  margin-right: 20px;
}
.ov_cases_splitted_graph .dash-graph {
  height: 300px; 
}

.co_main {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(251, 251, 251);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 7px 0px;
  margin-bottom: 20px;
  border-radius: 8px;
}


.ledgend_color {
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  display: inline-block;
}
.ledgend_item {
  margin-bottom: 6px;
  padding-left: 80px;
  position: relative;
} 
.co_main_descr {
  margin-top: 10px;
}
.co_ledgend {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 20px);
  margin-right: 10px;
  padding-right: 10px;
  border-right-style: solid;
  border-right-color: rgb(217, 217, 217);
  border-width: 1px;
}
.co_description {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: calc(50% - 20px);
}
.co_container h5 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
}
#ms_strictness_graph .legend {
  transform: translate(458px,425px) !important;
}
#ms_strictness_graph .legendtitletext {
  display: none;
  opacity: 0;
}
.ms_strictness_container {
  display: inline-block;
}
.ms_strictness_label {
  font-size: 14px;
}
.ms_strictness_count {
  font-size: 36px;
}
.ms_bar_cur_pointer {
  background-color: #e9e8e8;
  position: absolute;
  margin-left: -25px !important;
  margin-top: -25px !important;
  border-radius: 10px;
  padding: 0px 20px;
}
.ms_bar_cur_pointer p {
  font-size: 14px;
  color: rgb(20, 20, 20);
  margin-top: 5px;
  margin-bottom: 5px;
}
.ms_bar_cur_pointer p:after {
  content: " ";
  position: absolute;
  right: 30px;
  bottom: -12px;
  border-top: 12px solid #e9e8e8;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: none;
}
.ms_bar_pred_pointer {
  background-color: #e9e8e8;
  position: absolute;
  margin-left: -29px !important;
  margin-top: 15px;
  border-radius: 10px;
  padding: 0px 20px;
}
.ms_bar_pred_pointer p {
  font-size: 14px;
  color: rgb(20, 20, 20);
  margin-top: 5px;
  margin-bottom: 5px;
}
.ms_bar_pred_pointer p::before{
  content: " ";
  position: absolute;
  right: 38px;
  top: -12px;
  border-bottom: 12px solid #e9e8e8;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: none;
}
.ms_bar {
  margin-top: 20px;
  padding: 28px 0px;
}
.ms_bar .ms_bar_part:first-child .ms_bar_part_bar {
  border-radius: 8px 0px 0px 8px;
}
.ms_bar .ms_bar_part:last-child .ms_bar_part_bar {
  border-radius: 0px 8px 8px 0px;
}
.ms_strictness_current {
  width: auto;
  float: left;
  margin-right: 40px;
}
.ms_container_left {
  width: 50%;
  float: left; 
}
.ms_container_right {
  width: calc(50% - 30px);
  float: left;
  padding-left: 25px;
  border-left: 1px solid rgb(209, 209, 209);
  margin-top: 12px;
}
.ms_container_right h5 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.ms_container_right p {
  margin-top: 5px;
  font-weight: 300;
}
.dropdownLabel {
  font-size: 13px;
  margin-bottom: 7px;
}
