@import url("https://use.typekit.net/nan5smx.css");
body {
  margin: 0;
  font-family: acumin-pro, sans-serif;
  background-color: #F5F5F5;
}
body * {
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
}
.pageContainer {
  width: 90%;
  margin: auto;
  max-width: 1080px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
}
.appHeader {
  padding: 35px 50px 40px 50px;
  background-image: url('images/headerbg.jpg');
  background-position: center;
}
h1 {
  margin: 0px;
  font-weight: 500;
  color: #fff;
}
h2 {
  font-weight: 200;
  font-size: 18px;
  color: #00C678;
  margin: 0px;
}
.container {
  padding: 40px;
}
.titleBar {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.titleBar h3 {
  float: left;
  font-weight: 400;
  font-size: 20px;
  color: #00C678;
  margin: 0px;
}
.titleBar hr {
  float: right;
  width: calc(100% - 180px);
  border: none;
  height: 2px;
  margin-top: 16px;
  color: #00C678;
  background-color: #00C678;
}
.situationBox {
  margin-bottom: 15px;
  background-color: #FBFBFB;
  border-radius: 8px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.14);
  padding: 10px 20px;
}
.situationBox h4 {
  font-weight: 400;
  font-size: 16px;
  color: #070A1B;
  margin: 0px;
}
.fiveGrid {
  vertical-align: middle;
  width: 20%;
  display: inline-block;
}

.counter h5 {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
.counter p {
  text-align: center;
  margin: 0;
  font-size: 13px;
}
.trendIncrease {
  text-align: center;
  background-color: #FB5050;
  width: 70%;
  border: 2px solid #FB5050;
  border-radius: 3px;
  margin: auto;
}
.trendIncrease p {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin: 6px 0px;
}